<!--- Welcome Section -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="background-color: #ffffff">
	<a href="/api/download-preliminary-proposal" target="_blank" class="btn btn-primary btn-lg btn-block">
		<button id='download_preliminary_proposal_button' href="/api/download-preliminary-proposal" target="_blank" type="button" class="btn btn-primary btn-lg btn-block"><p style='padding-top:1%'>Download Abstract</p></button>
	</a>
</nav>

<div class="container-fluid padding">
	<hr>
	<center>
		<div class="col-12">
			<h3 style="color:#6648b1;"><br>Welcome to the Spinning Mixer Web Page</h3>
		</div>
	</center>
	<hr>
</div>

<center>
	<div class="col-lg-6">
		<h2>Abstract</h2>
		<p>Abstract Here</p>
		<p>More text</p>
	</div>
</center>
