<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="background-color: #ffffff">
	<a href="/api/download-analysis" target="_blank" class="btn btn-primary btn-lg btn-block">
		<button id='download_analysis_button' href="/api/download-analysis" target="_blank" type="button" class="btn btn-primary btn-lg btn-block"><p style='padding-top:1%'>Download Analysis</p></button>
	</a>
</nav>

<div class="col-12">
	<h2 class="display text-center" style="color:#6648b1;"> <br> Our Results </h2>
</div>

<div>
	<center> Analysis Report Goes Here </center>
</div>