<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="background-color: #ffffff">
	<a href="/api/download-api-csv" target="_blank" class="btn btn-primary btn-lg btn-block">
		<button id='download_preliminary_proposal_button' href="/api/download-api-csv" target="_blank" type="button" class="btn btn-primary btn-lg btn-block"><p style='padding-top:1%'>Download CSV</p></button>
	</a>
</nav>

<div class="col-12">
	<h2 class="display text-center" style="color:#6648b1;"> <br> Explore our API's</h2>
</div>

<center>
	<div id='api-table'></div>
</center>