<div class="col-12">
	<br>
	<h2 class="display text-center" style="color:#6648b1;">Explore the Data</h2>
	<div id='spinner'>
			<center><div id='spinny-loader' class="loadersmall"></div></center>
	</div>
</div>

<!-- Settig up the view select dropdown -->
<div class="container">
	<div class="row">
		<div class="col-6" id="blank-col"> 
			<strong>Select Dashboard: </strong> <select id='explore-view-selector' class="selectpicker" data-live-search="true">
			</select>  
		</div>
		<div class="col-6" id="blank-col"> <br> </div>
<!-- 		<div class="col-3" id="blank-col"> <br> </div>
		<div class="col-3" id="blank-col"> <br> </div> -->
	</div>
</div>

<hr>

<!-- Setting up the State View dashboard -->
<div id='state-explore-view'>
	<center> <h5> <u> Select a state and a date range below to explore the data ! </u> </h5	></center>
	<br>
	<center>
		<div class="container">
	  		<div class="row">
				<div class="col-3">
					<strong>State: </strong><select id='state-selector' class="selectpicker" data-live-search="true"></select>
				</div>
				<div class="col-3" id="time-start-selector-div">
					<strong>From: </strong><input type="date" min="2020-01-01" max="2021-12-31" id="state-time-start-selector" name="time-start-selector">
				</div>
				<div class="col-3" id="time-end-selector-div">
					<strong>To: </strong><input type="date" min="2020-01-01" max="2021-12-31" id="state-time-end-selector" name="time-end-selector">
				</div>
				<div class="col-3" id="time-end-selector-div">
					<strong>Bin by: </strong><select id='state-explore-bin-selector' class="selectpicker" data-live-search="true"></select> days
				</div>
				<div class="col-3">
					<br>
				</div>
				<div class="col-3">
					<br>
				</div>
				<div class="col-3">
					<br>
				</div>
				<div class="col-3" id="explore-submit-button-div">
					<button type="button" class="btn btn-primary hvr-grow" id="state-explore-submit-button">Go</button>
				</div>
			</div>
		</div>
	</center>
	<br>
	<!-- The graphs and charts section -->
<!-- 	<center>
		<div class="container" id='state-explore-graph-headers'>
	  		<div class="row">
				<div class="col-4">
					<h5> <u> Twitter Senitment Scores </u> </h5>
				</div>
				<div class="col-4">
					<h5> <u> Mental Health K-6 Scores </u> </h5>
				</div>
				<div class="col-4">
					<h5> <u> Purchasing Power </u> </h5>
				</div>
			</div>
		</div>
	</center> -->

	<!-- The State View graphs and charts section -->
	<center>
		<div class="container" id='state-explore-graph-charts'>
	  		<div class="row">
	  			<div class="col-4" id='state-explore-graph-headers'>
					<h5> <u> Twitter Senitment Scores </u> </h5>
				</div>
				<div class="col-12" id='state-explore-graph'>
					<figure class="highcharts-figure">
						<div id="tweet-sentiment-boost-chart"></div>
					</figure>
				</div>
				<!-- <div class="col-4" id='mental-health-chart'></div>
				<div class="col-4" id='finance-chart'></div> -->
			</div>
		</div>
	</center>
</div>


<!-- Setting up the National View dashboard -->
<div id='explore-national-view'>
	<center> <h5> <u> Select a date range below to explore the data ! </u> </h5	></center>
	<br>
	<center>
		<div class="container">
			<center>
		  		<div class="row">
					<div class="col-4" id="time-start-selector-div">
						<strong>From: </strong><input type="date" min="2020-01-01" max="2021-12-31" id="national-time-start-selector" name="national-time-start-selector">
					</div>
					<div class="col-4" id="time-end-selector-div">
						<strong>To: </strong><input type="date" min="2020-01-01" max="2021-12-31" id="national-time-end-selector" name="national-time-end-selector">
					</div>
					<div class="col-4" id="explore-submit-button-div">
						<button type="button" class="btn btn-primary hvr-grow" id="national-explore-submit-button">Go</button>
					</div>
				</div>
			</center>
		</div>
	</center>
	<br>
	<!-- The graphs and charts section -->
	<center>
		<div class="container" id='national-explore-graph-headers'>
	  		<div class="row">
				<div class="col-12">
					<h5> <u> National Sparkline Chart </u> </h5>
				</div>
			</div>
		</div>
	</center>

	<!-- The graphs and charts section -->
	<center>
		<div class="container" id='national-explore-graphs-charts'>
	  		<div class="row">
				<div class="col-12" id='national-sparkline-chart'></div>

			</div>
		</div>
	</center>
</div>
