<div class="col-12">
	<br>
	<h2 class="display text-center" style="color:#6648b1;">Explore the Data</h2>
	<div id='spinner'>
			<center><div id='spinny-loader' class="loadersmall"></div></center>
	</div>
	<br>
	<br>
</div>

<div>
	<center> <h5> <u> Select a state and a date range below to explore the data ! </u> </h5	></center>
	<br>
	<center>
		<div class="container">
	  		<div class="row">
				<div class="col-3">
					<strong>State: </strong><select id='state-selector' class="selectpicker" data-live-search="true"></select>
				</div>
				<div class="col-3" id="time-start-selector-div">
					<strong>From: </strong><input type="date" min="2020-01-01" max="2020-12-31" id="time-start-selector" name="time-start-selector">
				</div>
				<div class="col-3" id="time-end-selector-div">
					<strong>To: </strong><input type="date" min="2020-01-01" max="2020-12-31" id="time-end-selector" name="time-end-selector">
				</div>
				<div class="col-3" id="explore-submit-button-div">
					<button type="button" class="btn btn-primary hvr-grow" id="explore-submit-button">Go</button>
				</div>
			</div>
		</div>
	</center>
	<hr>
	<br>
	<!-- The graphs and charts section -->
	<center>
		<div class="container" id='explore-graphs'>
	  		<div class="row">
				<div class="col-4">
					<h5> <u> Twitter Senitment Scores </u> </h5>
				</div>
				<div class="col-4">
					<h5> <u> Mental Health K-6 Scores </u> </h5>
				</div>
				<div class="col-4">
					<h5> <u> Purchasing Power </u> </h5>
				</div>
			</div>
		</div>
	</center>

	<!-- The graphs and charts section -->
	<center>
		<div class="container" id='explore-graphs-charts'>
	  		<div class="row">
				<div class="col-4" id='twitter-sentiment-chart'></div>
				<div class="col-4" id='mental-health-chart'></div>
				<div class="col-4" id='finance-chart'></div>
			</div>
		</div>
	</center>
</div>

