<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SPINNING MIXER</title>
		
		<!-- Bootstrap4 Javascript Files -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		
		<!-- Bootstrap CSS Style Sheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    	<!-- D3 CSS files -->
    	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
		<script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{ url_for('static',filename='jquery.tipsy.js') }}"></script>

		<!-- Sourcing JS for Datatables Library -->
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
		<script src="https://cdn.datatables.net/scroller/2.0.1/js/dataTables.scroller.min.js" type="text/javascript"></script>
		<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
		<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

		<!-- Local-Sourced JS and CSS Files, note that django variables coming from api_routes.py -->
		<script type='text/javascript'>{{ js_source }}</script>
		<style>{{ css_source }} </style>

	</head>
	

	<body>

		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" style="background-color: #ffffff">
			<div class="container-fluid" style="background-color: #ffffff">
				<a id='spinningmixer-navbar-logo' class="navbar-brand" href="#"><img src="{{ url_for('static',filename='spinningmixer_logo.png') }}" id='spinningmixer-navbar-logo' alt="" class="hvr-grow"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive" style="background-color: #ffffff">
					<ul class="navbar-nav ml-auto">
						<li id='navbar-home-li' class="nav-item active">
							<a href="#" id='navbar-home-button' class="nav-link hvr-grow">Home</a>
						</li>
						<li id='navbar-about-li' class="nav-item">
							<a href="#" id='navbar-about-button' class="nav-link hvr-grow">About</a>
						</li>
						<li id='navbar-explore-li' class="nav-item">
							<a href="#" id='navbar-explore-button' class="nav-link hvr-grow">Explore</a>
						</li>
						<li id='navbar-analysis-li' class="nav-item">
							<a href="#" id='navbar-analysis-button' class="nav-link hvr-grow">Analysis</a>
						</li>
						<li id='navbar-api-li' class="nav-item">
							<a href="#" id='navbar-api-button' class="nav-link hvr-grow">API</a>
						</li>
						<li id='navbar-connect-li' class="nav-item">
							<a href="#" id='navbar-connect-button'class="nav-link hvr-grow">Connect</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END Navigation bar -->

		<!--- Image Carousel Slider -->
		<div id="slides" class="carousel slide" data-ride="carousel" style='background-color:black'>
			<!-- Line indicators under slides to show which slide you're on. Comment-out to disable user selection  -->
			<ul class="carousel-indicators">
				<li data-target="#slides" data-slide-to="0" id='carousel-slide1' class="active"></li>
				<!-- Register other carousel below slides if you want --> 
				<!-- <li data-target="#slides" data-slide-to="1" id='carousel-slide2' ></li>
				<li data-target="#slides" data-slide-to="2" id='carousel-slide3' ></li> -->
			</ul> 
			<div class="carousel-inner">

				<!-- First Image in Carousel -->
				<div id='slide1' class="carousel-item active">
					<img src="{{ url_for('static',filename='data_science_wallpaper.jpg') }}" style='position:fixed;'>
					<div class="carousel-caption">
						<h1 class="display-2">Spinning Mixer</h1>
						<h4>UVM STAT/CS 287 Final Project</h4>
						<br>
						<button id='carousel-learn-more-button' type="button" class="btn btn-outline-light btn-lg hvr-grow">Learn More</button>
						&nbsp&nbsp&nbsp&nbsp
						<button id='carousel-analysis-button' type="button" class="btn btn-outline-light btn-lg hvr-grow">Analysis</button>
						&nbsp&nbsp&nbsp&nbsp
						<button id='carousel-api-button' type="button" class="btn btn-outline-light btn-lg hvr-grow">API</button>
						<br>
						<br>
						<button id='carousel-explore-button' type="button" class="btn btn-primary btn-lg hvr-grow">Explore Data</button>
					</div>
				</div>

				<!-- Add other carousel slides below if you want -->

			</div>
		</div>
		<!-- END Image Carousel Slider -->


		<!--- About -->
		<div id='about'> <!-- populated via about.js --></div>
		<!-- END About section -->
		  
		<!--- Explore -->
		<div id='explore' class="container-fluid padding"><!-- populated via about.js --></div>
		<!-- END Explore section -->

		<!-- Analysis -->
		<div id='analysis' class="container-fluid padding"><!-- populated via about.js --></div>
		<!-- END Analysis section -->

		<!-- API -->
		<div id='api' class="container-fluid padding"><!-- populated via api.js --></div>
		<!-- END API section -->


		<!-- Footer Section -->
		<div id='footer-section'>
			<div class="container-fluid padding">
				<div class="row text-center padding">
					<div class="col-12">
						<h2 style="color:#6648b1;"><br><br>Connect With Us:</h2>
					</div>
				</div>
				<!--- Footer -->
				<footer>
					<div class="container-fluid padding">
						<div class="row text-center">
							<div class="col-md-4">
								<hr class="light">
								<h5>Developers</h5>
								<hr class="light">
								<a href="#" onclick=""><p>Nick Hella</p></a>
								<a href="#" onclick=""><p>Nick Knudsen</p></a>
								<a href="#" onclick=""><p>Jonathan St-Onge</p></a>
							</div>
							<div class="col-md-4">
								<hr class="light">
								<h5>Emails</h5>
								<hr class="light">
								<a href="mailto:nicholas.hella@uvm.edu"><p>nhella@uvm.edu</p></a>
								<a href="mailto:justin.adams@uvm.edu"><p>nknudsen@uvm.edu</p><a>
								<a href="mailto:derrick.leger@uvm.edu"><p>jstonge@uvm.edu</p></a>
							</div>
							<div class="col-md-4">
								<hr class="light">
								<h5>Locations</h5>
								<hr class="light">
								<p>Vermont, USA</p>
								<p>Vermont, USA</p>
								<p>Quebec, CA</p>
							</div>
							<div class="col-12">
								<hr class="light-100">
								<h5>&copy; spinningmixer.com</h5>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<!-- END Footer Section -->
	</body>
</html>

<!-- EOF -->